body {
    padding: 10px;
    font-family: sans-serif;
}

table {
  background: #FFFFFF;
  margin-bottom: 1.25rem;
  border: solid 1px #DDDDDD;
  table-layout: auto; }
  table caption {
    background: transparent;
    color: #222222;
    font-size: 1rem;
    font-weight: bold; }
  table thead {
    background: #F5F5F5; }
    table thead tr th,
    table thead tr td {
      padding: 0.5rem 0.625rem 0.625rem;
      font-size: 0.875rem;
      font-weight: bold;
      color: #222222; }
  table tfoot {
    background: #F5F5F5; }
    table tfoot tr th,
    table tfoot tr td {
      padding: 0.5rem 0.625rem 0.625rem;
      font-size: 0.875rem;
      font-weight: bold;
      color: #222222; }
  table tr th,
  table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.675rem;
    color: #222222;
    text-align: left; }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #F9F9F9; }
  table thead tr th,
  table tfoot tr th,
  table tfoot tr td,
  table tbody tr th,
  table tbody tr td,
  table tr td {
    display: table-cell;
    line-height: 0.925rem; }


header {
    background-color:#dedede;
    #color:#dedede;
    text-align:center;
    margin: 10px;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 5px;

    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}
nav {
	background-color: #999;
	border: 1px solid #dedede;
	border-radius: 4px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #444;
	display: block;
	margin: auto;
	overflow: hidden;
	width: 60%;

}

a {
    font-style: oblique;
    font-weight: bold;
    color: #444;
    line-height: 1.5em;
}

.message-box {
    border: 1px solid #008cba;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    background-color: #008cba;
    width: 80%;
    margin: 20px auto;
}

footer {
    clear: both;
    font-size: 0.6em;
    text-align: center;
    background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
    bottom: 0;
    position: fixed;
}




.box {
    width:90%;
    display:box;
    /* Firefox */
    display:-moz-box;
    -moz-box-orient:horizontal;
     /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-orient:horizontal;

    box-orient:horizontal;
    margin: 20px auto;


}

.box .columnleft {
    width:300px;
    position:relative;
    border: 1px solid #dedede;
    border-radius: 4px;
     padding: 5px;
     padding-left: 15px;
     padding-right: 15px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    margin-right: 10px;
}

.box .columnright {
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    -ms-flex:1.0; /* Internet Explorer 10 */
    box-flex:1.0;
    border: 1px solid #dedede;
    border-radius: 4px;
      padding: 5px;
      padding-left: 15px;
      padding-right: 15px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);

}

.box dt {
    color: #c50000;
        line-height: 1.4em;
}



.box dd {
    color: #d80000;
        line-height: 1.4em;
}

.box .columnleft a {
    font-style: normal;
    font-weight: bold;
    color: #999;
    line-height: 1.4em;

}




.box .columnright a {
    color: #c34500;
        line-height: 1.1em;
        font-size: 0.9em;
}

.nav {
    float: left;
}

.user {
    float: right;
}

form {
    display: block;
    margin-top: 0em;
    margin: 20px auto;
    width: 60%;
    padding: 5px;
}



.form-control {
    display: block;

    line-height: 1.4em;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: inherit;
}
label.control-label.col-sm-2 {
    padding: 10px;
    line-height: 1.6em;
}
