body {
    padding: 10px;
    font-family: sans-serif;
}


header {
    background-color:#dedede;
    #color:#dedede;
    text-align:center;
    margin: 10px;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 5px;

    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}
nav {
	background-color: #999;
	border: 1px solid #dedede;
	border-radius: 4px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #444;
	display: block;
	margin: auto;
	overflow: hidden;
	width: 60%;

}

a {
    font-style: oblique;
    font-weight: bold;
    color: Navy;
    line-height: 1.5em;
}

.message-box {
    border: 1px solid #008cba;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    background-color: #008cba;
    width: 80%;
    margin: 20px auto;
}

footer {
    clear: both;
    font-size: 0.6em;
    text-align: center;
    background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
    bottom: 0;
    position: fixed;
}

.box {
    width:90%;
    display:box;
    /* Firefox */
    display:-moz-box;
    -moz-box-orient:horizontal;
     /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-orient:horizontal;

    box-orient:horizontal;
    margin: 20px auto;
}
.box .columnleft {
    width:300px;
    position:relative;
    border: 1px solid #dedede;
    border-radius: 4px;
     padding: 5px;
     padding-left: 15px;
     padding-right: 15px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    margin-right: 10px;
}

.box .columnright {
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    -ms-flex:1.0; /* Internet Explorer 10 */
    box-flex:1.0;
    border: 1px solid #dedede;
    border-radius: 4px;
      padding: 5px;
      padding-left: 15px;
      padding-right: 15px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);

}

.box dt {
    color: Orange;
        line-height: 1.4em;
}


.box dd {
    color: #d80000;
        line-height: 1.4em;
}

.box .columnright a {
    font-style: normal;
    font-weight: bold;
    color: MidnightBlue;
    line-height: 1.4em;

}

.box .columnright a {
    color: MidnightBlue;
    line-height: 1.1em;
    font-size: 0.9em;
}

.nav {
    float: left;
}

.user {
    float: right;
}

form {
    display: block;
    margin-top: 0em;
    margin: 20px auto;
    width: 60%;
    padding: 5px;
}

.form-control {
    display: block;

    line-height: 1.4em;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: inherit;
}
label.control-label.col-sm-2 {
    padding: 10px;
    line-height: 1.6em;
}
