body {
    padding: 10px;
}

table {
  background: #FFFFFF;
  margin-bottom: 1.25rem;
  border: solid 1px #DDDDDD;
  table-layout: auto; }
  table caption {
    background: transparent;
    color: #222222;
    font-size: 1rem;
    font-weight: bold; }
  table thead {
    background: #F5F5F5; }
    table thead tr th,
    table thead tr td {
      padding: 0.5rem 0.625rem 0.625rem;
      font-size: 0.875rem;
      font-weight: bold;
      color: #222222; }
  table tfoot {
    background: #F5F5F5; }
    table tfoot tr th,
    table tfoot tr td {
      padding: 0.5rem 0.625rem 0.625rem;
      font-size: 0.875rem;
      font-weight: bold;
      color: #222222; }
  table tr th,
  table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.675rem;
    color: #222222;
    text-align: left; }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #F9F9F9; }
  table thead tr th,
  table tfoot tr th,
  table tfoot tr td,
  table tbody tr th,
  table tbody tr td,
  table tr td {
    display: table-cell;
    line-height: 0.925rem; }


header {
    background-color:#dedede;
    #color:#dedede;
    text-align:center;
    margin: 10px;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 5px;

    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}
nav {
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	display: block;
	margin: auto;
	overflow: hidden;
	width: 60%;

}

footer {
    clear: both;
    font-size: 0.6em;
    text-align: center;
    background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
    bottom: 0;
    position: fixed;
}

section {
  float: left;
  --width: ;
  display: block; /* for old browsers */
  #background-color: #fff;
  #border: 1px solid #dedede;
  border-radius: 4px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
  #box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  margin: auto;
  overflow: hidden;
  width: 60%;

}

section.left {
    float: left;
    width: 30%;
}

section.right {
    float: right;
    width: 50%;
}

.nav {
    float: left;
}

.user {
    float: right;
}
