<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
    {% block head %}
    <meta charset="utf-8" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">




    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
    $('#message-box').delay(500).fadeOut('slow')
});
    </script>

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <link href="{{ url_for('recent_feed') }}"
      rel="alternate"
      title="Recent Products"
      type="application/atom+xml">
</head>
<body>
    <header>
        <h1>{% block page %}{% endblock %}</h1>
    </header>
    <nav><span class="nav">
        <a href="{{ url_for('products') }}">Products</a>
        &nbsp|&nbsp
        <a href="{{ url_for('categories') }}">Catalog</a>
        &nbsp|&nbsp
        <a href="{{ url_for('json_products') }}">JSON Catalog</a>
        {% if session.logged_in %}
        &nbsp|&nbsp
        <a href="{{ url_for('addProduct') }}">Add Product</a>{% endif %}
    </span>{% if not session.logged_in %} <span class="user"><a href="{{ url_for('register') }}">Register</a>&nbsp|&nbsp<a href="{{ url_for('showLogin') }}">Login</a></span>{% else %}
    <span class="user"><a href="{{ url_for('gdisconnect') }}">Logout</a></span>{% endif %}
</nav>


{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="message-box">

    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>

{% endif %}
{% endwith %}

{% block content %}{% endblock %}
<footer>
    {% block footer %}
    &copy; Copyright 2015 by Scott Harman SAM Limited &nbsp
    {% endblock %}
    </footer
</body>
</html>
