{% extends "index.html" %}
{% block title %}{{product.product_name}}{% endblock %}
{% block page %}Product - {{product.product_name}}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
</br>
<div class="box">
<div class="columnleft">
<h3>{{ product.product_name }} ({{ product.category }})</h3>
</div>
<div class="columnright">
<dl>
 <dt>Name: {{ product.product_name }}</dt>
 <dd>Price: {{ product.price }}</dd>
 <dd>Description:</br>
 {{ product.product_description }}</dd>
</br>

{% if session.email == product.user_id %}<a href="{{ url_for('editProduct', name = product.product_name) }}">Edit/Delete {{ product.product_name }}</a>{% endif %}


</div>
</div>



{% endblock %}
