{% extends "index.html" %}
{% block title %}Products{% endblock %}
{% block page %}Products{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}


{% for category in categories %}
<div class="box">
<div class="columnleft"><ul style="list-style-type:none">
<ul><a href="{{ url_for('categories', name = category.category_name) }}">{{ category.category_name }} ({{category.count}})</a></br>&nbsp<a href="{{ url_for('category_json', name = category.category_name) }}">JSON</a></ul>
</div>
<div class="columnright">
<dl>
{% for product in products if product.category_id == category.category_id %}

 <dt><a href="{{ url_for('getProduct', name = product.product_name) }}">{{ product.product_name }} &nbsp|&nbsp Price: {{ product.price }}</a>{% if session.email == product.user_id %}&nbsp|&nbsp<a href="{{ url_for('editProduct', name = product.product_name) }}">Edit/Delete {{ product.product_name }}</a>{% endif %}</dt>
 <dd>
 {{ product.product_description }}
</dd>


{% endfor %}
</dl></div>
</div>

{% endfor %}

{% endblock %}
