{% extends "index.html" %}
{% block title %}Product View{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<h3>Products vt Category</h3>


<div style="clear:both;"></div>
<table class="table" width=98% align=center>
    <tr><th>&nbsp</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>&nbsp</th>
    </tr>
{% for product in products %}
<tr><td>&nbsp</td>
    <td> {{ product.product_id }} </td>
    <td> {{ product.product_name }} </td>
    <td> {{ product.product_description }} </td>
    <td> {{ product.price }} </td>

<td><a href="{{ url_for('editProduct', id = product.product_id) }}">Product View</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}
