{% extends "index.html" %}
{% block title %}Products{% endblock %}
{% block page %}Products{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<h3>Products</h3>

{% for category in categories %}
    <div style="clear:both;"></div>
<section class="left"><ul style="list-style-type:none">
<ul><a href="{{ url_for('categories', id = category.category_id) }}">{{ category.category_name }}</a></ul>
</section>

<section>

    <table class="table" width=98% align=center>
    <tr><th>&nbsp</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>&nbsp</th>
    </tr>
{% for product in products if product.category_id == category.category_id %}
<tr><td>&nbsp</td>
    <td> {{ product.product_id }} </td>
    <td> {{ product.product_name }} </td>
    <td> {{ product.product_description }} </td>
    <td> {{ product.price }} </td>

<td><a href="{{ url_for('getProduct', id = product.product_id) }}">Product View</a></td>
    </tr>
{% endfor %}
</table>
</section>

{% endfor %}

{% endblock %}
