{% extends "index.html" %}
{% block title %}Product by Category{% endblock %}
{% block page %}Product by Category{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<h3>Products by Category</h3>
<section class="left"><ul style="list-style-type:none">
{% for category in categories %}
<li><a href="{{ url_for('categories', name = category.category_name) }}">{{ category.category_name }}</a></li>{% endfor %}</ul></section>
<section>
<div style="clear:both;"></div>
<table class="table" width=98% align=center>
    <tr><th>&nbsp</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>&nbsp</th>
    </tr>
{% for product in products %}
<tr><td>&nbsp</td>
    <td> {{ product.product_id }} </td>
    <td> {{ product.product_name }} </td>
    <td> {{ product.product_description }} </td>
    <td> {{ product.price }} </td>
    <td> <a href="{{ url_for('categories', name = product.category) }}">{{ product.category }}</a> </td>

<td><a href="{{ url_for('getProduct', name = product.product_name) }}">View</a></td>
<td>
{% if session.email == product.user_id %}
<a href="{{ url_for('editProduct', name = product.product_name) }}">Edit/Delete</a>
{% endif %}
    </td></tr>
{% endfor %}
</table>
</section>
{% endblock %}
