{% extends "index.html" %}
{% block title %}Product Homepage{% endblock %}
{% block page %}Product Homepage{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<h3>Products</h3>
<div class="box">
<div class="column1"><ul style="list-style-type:none">
{% for category in categories %}
<li><a href="{{ url_for('categories', name = category.category_name) }}">{{ category.category_name }}</a></li>{% endfor %}</ul></div>
<div class="column2">


<dl>
    {% for product in products %}
    <dt> <a href="{{ url_for('getProduct', name = product.product_name) }}">{{ product.product_name }}</a> - {{ product.category_name }} (${{ product.price }}) </dt><dd>{{ product.product_description }}</dd>

{% endfor %}
    </dl>

</div>

{% endblock %}
